<header class="">
  <div
    class="h-20 w-full flex justify-start items-center px-5 shadow-2xl border-b-2 border-solid border-black bg-bannerHeader-bg bg-no-repeat bg-cover bg-center"
  >
    <h1 class="text-5xl font-bold text-stone-300">Olhar Digital</h1>
  </div>
  <nav
    class="flex flex-wrap justify-center items-center space-x-4 md:space-x-8 bg-gray-200 p-4"
  >
    <h1 class="text-xl">
      <a
        href="#"
        class="flex items-center transition duration-300 ease-in-out hover:text-blue-500"
        aria-label="Gerenciamento de Vendas"
      >
        <fa-icon class="text-2xl" [icon]="faList"></fa-icon>
        <span class="ml-2">Gerenciamento de Vendas</span>
      </a>
    </h1>
    <h1 class="text-xl">
      <a
        href="#"
        class="flex items-center transition duration-300 ease-in-out hover:text-blue-500"
        aria-label="Carrinho de Compras"
      >
        <fa-icon class="text-2xl" [icon]="faBasket"></fa-icon>
        <span class="ml-2">Carrinho de Compras</span>
      </a>
    </h1>
  </nav>
</header>
