<div>
    <div class="flex justify-between">
        <div class="flex flex-col">
            <p class="text-left">Nome do Cliente: {{nomeCliente}}</p>
            <p class="text-left">Data da Venda: {{vendaData}}</p>
        </div>
        <div class="flex flex-col text-right">
            <p>Valor Total: {{valorTotalVenda}}</p>
            <p>Forma de Pagamento: {{formaPagamento}}</p>
        </div>
    </div>

    <div class="text-center"> 
        <button (click)="toggleMostrarProdutos()" class="my-2 p-2 bg-gray-700 text-lg text-white rounded-2xl shadow-xl shadow-gray-600/50">
            {{ mostrarProdutos ? 'Ocultar Produtos' : 'Mostrar Produtos' }}
        </button>
    </div>
    
    
    


    <div *ngIf="mostrarProdutos" style="overflow: hidden;">
        <div *ngFor="let produto of produtos; let i = index">
            <app-produto-venda-card
                [produto]="produto" 
                [quantidade]="quantidades[i]">
            </app-produto-venda-card>
        </div>
    </div>
    
</div>
