<app-header></app-header>
<body>
  <div class="flex items-center justify-center flex-col m-20">
    <h1 class="text-4xl underline font-semibold">Lista de Produtos</h1>
    <div class="h-card_home_container_h w-full bg-slate-800/25 m-20 rounded-3xl grid grid-cols-4 gap-4 p-4">
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
      <app-produto-card></app-produto-card>
    </div>
    
    
  </div>
</body>
