<div class="mt-header_spacing">
  <div class="flex items-center justify-center flex-col m-20 mb-5">
    <input type="button" value="Criar Novo Produto" class="bg-gray-700  text-lg font-semibold mt-10 py-6 px-8 text-white rounded-2xl shadow-md shadow-gray-600/50 transition duration-300 ease-in-out hover:bg-gray-800 hover:shadow-lg hover:scale-105 cursor-pointer" (click)="criarNovoProduto()">

    <div
      class="h-fit w-full bg-stone-200 m-32 mt-20 rounded-3xl grid grid-cols-4 gap-8 pl-10 pr-10 pb-20 pt-10 shadow-2xl "
    >
      <app-produto-card class="z-10"
        *ngFor="let produto of produtos"
        [produto]="produto"
        (produtoUpdated)="onProdutoUpdated()"
      ></app-produto-card>
    </div>
  </div>
</div>